<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>On the station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Don't have the station
  <% end %>
</p>

<p>
  <% if @train.vagons.empty? %>
    No garriage
  <% else %>
    <ul>
      <% @train.vagons.each do |vagon| %>
          <% if vagon.type_vagon == 'reserved' %>
            <li>Reserved</li>
            <li><%= vagon.number %></li>
            <li><%= vagon.place_up %></li>
            <li><%= vagon.place_down %></li>
          <% else %>  
            <li>Compartmental</li>
            <li><%= vagon.number %></li>
            <li><%= vagon.place_up %></li>
            <li><%= vagon.place_down %></li>
          <% end %>  
      <% end %>    
    </ul>
  <% end %>
</p>


<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>

