<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>On the station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Don't have the station
  <% end %>
</p>

<p>
  <strong>Carriage</strong>
  <ul>
    <% @train.vagons.each do |vagon| %>
      <li><%= link_to "Vagon #{vagon.number}", vagon %></li>
    <% end %>   
  </ul>  
</p>




<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>

