<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vagon.number %>
</p>

<p>
  <strong>Place down:</strong>
  <%= @vagon.place_down %>
</p>

<p>
  <strong>Place down:</strong>
  <%= @vagon.place_up %>
</p>

<p>
  <strong>Place side top:</strong>
  <%= @vagon.side_top_seats %>
</p>

<p>
  <strong>Place side bottom:</strong>
  <%= @vagon.side_bottom_seats %>
</p>

<%= link_to 'Edit', edit_vagon_path(@vagon) %> |
<%= link_to 'Back', @vagon.train %>
