<h1>New ticket</h1>

<%= form_for (@ticket) do |f| %>
 
  <%= f.hidden_field :train_id %>
  <%= f.hidden_field :start_station_id %>
  <%= f.hidden_field :end_station_id %>
 
  <div class="field">
    <%= f.label :passenger_name, "Passenger name" %>
    <%= f.text_field :passenger_name %>
  </div>

  <div class="field">
    <%= f.label :passport_number, "Passenger passport" %>
    <%= f.text_field :passport_number %>
  </div>

  <div class="actions">
    <%= f.submit 'Buy' %>
  </div>
<% end %>

<%= link_to 'Back', search_path %>
