<h1>New ticket</h1>

<p>
  <strong>Train:</strong>
  <%= @train.number %>
</p>     

<p>
  <strong>Route:</strong>
  <%= @train.route.name %>
</p>

<p>
  <strong>Start station:</strong>
  <%= @start_station.title %>
</p>

<p>
  <strong>Start station:</strong>
  <%= @end_station.title %>
</p>

<%= render 'form', ticket: @ticket %>

<%= link_to 'Back', search_path %>
