<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  <p>
    (Ñ) 2016 Liliya Ilyina <%= link_to 'Study project', 'http://thinknetica.com' %>
  </p>  
  </body>
</html>
